@model IEnumerable<Telzir.Models.Plano>

@{
    ViewData["Title"] = "Planos";
}

@if(TempData.ContainsKey("codeError"))
{
    @if(Convert.ToInt32(TempData["codeError"]) == 404){
        <div class="alert alert-danger" role="alert">
            O plano buscado não existe
        </div>
    }
}

<h1>Planos</h1>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Cadastrar Plano</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
